.crimson-pro-standard {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.alegreya-sc-regular {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: "Alegreya SC", serif;
    --s: 20px;
    /* control the size */
    --c: #cfbcab;

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--s) var(--s),
        var(--_g1), var(--_g1) var(--s) var(--s) #c5c1ad;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.left-panel {
    display: flexbox;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 18%;
    height: 90%;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
    --s: 20px;
    /* control the size */
    --c: #ffefe2;

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--s) var(--s),
        var(--_g1), var(--_g1) var(--s) var(--s) #fffcf0;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.right-panel {
    position: absolute;
    top: 5%;
    right: 2%;
    display: grid;
    width: 18%;
    height: 90%;
    border-width: 0.5em;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    display: block;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
    --s: 20px;
    /* control the size */
    --c: #ffefe2;

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--s) var(--s),
        var(--_g1), var(--_g1) var(--s) var(--s) #fffcf0;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.desc {
    position: absolute;
    display: flex;
    font-family: "Crimson Pro", serif;
    font-size: 1.5rem;
    align-content: center;
    align-self: center;
    align-items: center;
    top: 5%;
    height: 53%;
    width: 55%;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    display: block;
    font-weight: 700;
    line-height: 24px;
    outline: 2px solid transparent;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
    --s: 20px;
    /* control the size */
    --c: #ffefe2;

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--s) var(--s),
        var(--_g1), var(--_g1) var(--s) var(--s) #fffcf0;
    background-size: calc(2*var(--s)) calc(2*var(--s));

}

.gradient-overlay {
    height: 2%;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    align-self: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, beige, sienna);
    border-width: 0.5em;
    border-style: ridge;
}

.choices {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 55%;
    align-self: center;
    align-items: center;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    font-family: "Crimson Pro", serif;
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
    --s: 20px;
    /* control the size */
    --c: #ffefe2;

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--s) var(--s),
        var(--_g1), var(--_g1) var(--s) var(--s) #fffcf0;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.choice {
    font-family: "Crimson Pro", serif;
    font-size: 1.2rem;
    justify-content: left;
    align-items: left;
    margin: 1px 10px;
    padding: 10px 20px;
    background-color: rgba(46, 3, 3, 0.75);
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    width: 100%;
}

.choice:hover {
    background-color: rgba(3, 3, 3, 0.75);
}

.choice:active {
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.075rem);
}


h4 {
    font-family: "Alegreya SC", serif;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border-radius: 0.5em;
    margin-bottom: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    background-color: rgba(46, 3, 3, 0.75);
}

.item {
    font-family: "Crimson Pro", serif;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    border-radius: 0.5em;
    margin-bottom: 2px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.50);
}

.status {
    font-family: "Crimson Pro", serif;
    text-align: center;
    font-size: 1rem;
    color: white;
    border-radius: 0.5em;
    margin-bottom: 2px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.50);
}

.char-stats {
    font-family: "Crimson Pro", serif;
    text-align: center;
    font-size: 1rem;
    color: white;
    border-radius: 0.5em;
    margin-bottom: 2px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.50);
}

#health {
    position: absolute;
    top: 1.6%;
    left: 0.9%;
    font-size: 200%;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color: rgb(206, 28, 28);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 5px;
}

.inventory {
    display: inline;
    height: 1em;
}

.stats {
    display: inline;
    height: 1em;
}

.health {
    height: fit-content;
    display: inline;
    height: 1em;
}


canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    --s: 20px;
    /* control the size */
    --c: #cfbcab;

    --_g:
        #0000 calc(-650%/13) calc(50%/13), var(--c) 0 calc(100%/13),
        #0000 0 calc(150%/13), var(--c) 0 calc(200%/13),
        #0000 0 calc(250%/13), var(--c) 0 calc(300%/13);
    --_g0: repeating-linear-gradient(45deg, var(--_g));
    --_g1: repeating-linear-gradient(-45deg, var(--_g));
    background:
        var(--_g0), var(--_g0) var(--s) var(--s),
        var(--_g1), var(--_g1) var(--s) var(--s) #c5c1ad;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}


.cha-image {
    background: url("img/1569261755Watercolor-painting-Encapsulated-PostScript-watercolor-brush-transparent-background-PNG.png") no-repeat center center;
    background-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
    background-position: center;
}

.image {
    justify-self: center;
}

h1 {
    font-family: "Alegreya SC", serif;
    font-size: 3em;
}

h2 {
    font-family: "Crimson Pro", serif;
    font-size: 2em;
}

h3 {
    font-family: "Crimson Pro", serif;
    font-size: 1.5em;
    margin: 2em;
    padding-bottom: 1em;
}


#Character1 {
    position: absolute;
    top: 5%;
    left: 3%;
    display: grid;
    width: 30%;
    height: 90%;
    display: block;
}

#Character1:hover {
    top: 4%;
    left: 2%;
    width: 32%;
    height: 92%;
    padding-left: 1.4%;
    padding-right: 1.4%;
}

#Character2 {
    position: absolute;
    top: 5%;
    left: 35%;
    display: grid;
    width: 30%;
    height: 90%;
    display: block;
}

#Character2:hover {
    top: 4%;
    left: 34%;
    width: 32%;
    height: 92%;
    padding-left: 1.4%;
    padding-right: 1.4%;
}

#Character3 {
    position: absolute;
    top: 5%;
    right: 3%;
    display: grid;
    width: 30%;
    height: 90%;
    display: block;
}

#Character3:hover {
    top: 4%;
    right: 2%;
    width: 32%;
    height: 92%;
    padding-left: 1.4%;
    padding-right: 1.4%;
}

.CharacterButton {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    appearance: none;
    outline: 2px solid transparent;
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    font-family: inherit;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: 11px;
    line-height: 24px;
    color: #482307;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);

    &.start {
        svg {
            animation: stroke 1s linear;
        }
    }

    .lines {
        position: absolute;
        inset: 0;
        mix-blend-mode: hard-light;
        pointer-events: none;
        z-index: 1;

        &>div {
            position: absolute;
            inset: 0;

            &:last-child {
                transform: rotate(180deg);
            }

            svg {
                display: block;
                position: absolute;
                inset: 0;
                overflow: visible;
                fill: none;
                stroke-width: 2;
                stroke: #ffe6c9;
                width: 100%;
                height: 100%;
                stroke-dasharray: 2 10;
                stroke-dashoffset: 14;
                opacity: 0;
            }

            svg {
                &:nth-child(1) {
                    stroke: #ffe6c9;
                }

                &:nth-child(2) {
                    stroke-width: 6px;
                    filter: blur(20px);
                }

                &:nth-child(3) {
                    stroke-width: 5px;
                    filter: blur(6px);
                }

                &:nth-child(4) {
                    stroke-width: 10px;
                    filter: blur(56px);
                }
            }
        }
    }
}

@keyframes stroke {

    30%,
    55% {
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 4;
        opacity: 0;
    }
}

.CharacterButton:hover {
    box-shadow: rgba(119, 46, 12, 0.46) 0 0 0 4px, -6px 8px 10px rgba(68, 4, 47, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.CharacterButton:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.075rem);
}

.CharacterButton:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.portrait {
    display: inline;
    border-radius: 100%;
    align-self: center;
    width: 100%;
}

#avatar {
    background: url("img/1569261755Watercolor-painting-Encapsulated-PostScript-watercolor-brush-transparent-background-PNG.png") no-repeat center center;
    background-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    background-position: center;
}

.map {
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 10%;
    right: 6%;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    justify-content: left;
    align-items: left;
    background-color: rgba(46, 3, 3, 0.75);
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    background-image: url("img/map.png");
}

.map:hover {
    width: 880px;
    height: 650px;
    border: 1px solid #333;
    background-color: rgba(3, 3, 3, 0.75);

}

.map:active {
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
    width: 10%;
    height: 10%;
}